.nominated-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nominated-box-title {
    font-family: 'Fugaz One', cursive;
    margin-bottom: 5px; 
}

.nominated-films {
    margin: 20px;
    padding: 20px; 
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5em;
    border: solid 5px rgb(35, 40, 88);
    border-radius: 10px;
    height: 150px; 
    box-shadow: 0 0 .75em #808080;
}