.nominee-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
}

.nominee-year {
    margin: 3px; 
}

.remove-btn {
    background-color: rgb(105, 11, 11);
    color: white; 
    border-radius: 10px;
}


@media screen and (max-width: 1100px) {

    .nominee-title {
        margin: 0; 
    }
 }

@media screen and (max-width: 600px) {

   .nominee-year, .nominee-title {
       font-size: 20px;
       margin: 0; 
   }
}
